# This is a basic workflow to help you get started with Actions

name: Build Release Zip

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    tags:
      - "v*.*.*"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        
      - name: Build Zip
        id: build-zip
        run: |
          mkdir "flowforge-installer"
          cp -R app bin broker etc var install.* LICENSE README.md "flowforge-installer"
          zip -r "flowforge-installer.zip" "flowforge-installer"
          mkdir "flowfuse-installer"
          cp -R app bin broker etc var install.* LICENSE README.md "flowfuse-installer"
          zip -r "flowfuse-installer.zip" "flowfuse-installer"
          
      - name: Show Env
        run: env

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            flowforge-installer.zip
            flowfuse-installer.zip

